---
// import Loader from '../Loader/Loader.astro';

interface Props {
    title: string;
    text: string;
    nombre: string;
    email: string;
    content: string;
}
const {title, text, nombre, email, content} = Astro.props
---
<div class="mx-auto flex flex-col justify-center text-center bg-white py-12">
    <h2 class="text-3xl md:text-4xl font-bold mb-4 text-center js-scroll fade-in">{title}</h2>
    <h3 class="mx-auto text-lg md:text-xl mb-8 js-scroll text-center fade-in-bottom w-11/12">{text}</h3>
    <!-- Formulario de contacto -->
    <form target="_self" action="https://formsubmit.co/contacto.renpi@gmail.com" method="POST" name="formulario"class="p-4 w-11/12 max-w-md mx-auto js-scroll   fade-in-bottom ">
      <!-- Nombre -->
      <div class="mb-4">
        <label class="block font-semibold mb-2 text-start" for="nombre">{nombre}</label>
        <input
          class="w-full h-8 px-4 py-2 border rounded-md focus:outline-none bg-transparent focus:ring-2 focus:ring-blue-500 "
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Name"
          required
        >
      </div>
      <!-- Email -->
      <div class="mb-4">
        <label class="block font-semibold mb-2 text-start" for="email">{email}</label>
        <input
          class="w-full h-8 px-4 py-2 border bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="email"
          id="email"
          name="email"
          placeholder="Email Address"
          required
        >
        <input 
          type="hidden" 
          name="_subject" 
          value="¡Nuevo Correo!"
        >
        <input
          type="hidden"
          name="_autoresponse"
          value="Gracias por contactarte con nosotros, en breve uno de nuestros asesores se encargará de atender tu solicitud."
        > 
      </div>

      <!-- Mensaje -->
      <div class="mb-4">
        <label class="block font-semibold mb-2 text-start" for="mensaje">{content}</label>
        <textarea
          class="w-full h-32 px-4 py-2 bg-transparent border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          id="mensaje"
          name="mensaje"
          rows="4"
          required
        ></textarea>
      </div>

      <!-- Botón de enviar -->
      <label class="text-center w-full h-auto" for="submit"></label>
        <div>
          <input
          type="submit"
          value="Enviar"
          id="submit"
          class="submit-btn max-w-fit self-center bg-gradient-to-r from-sky-400 to-blue-500 text-white py-2 px-4 rounded-md inline-block text-center md:hover:shadow-lg md:hover:transition-all scale-125 md:cursor-pointer"
        >
        <!-- <button 
        type="submit"
        id="submit"
        class="submit-btn  max-w-fit self-center bg-gradient-to-r from-sky-400 to-blue-500 text-white py-2 px-4 rounded-md inline-flex gap-x-2 text-center md:hover:shadow-lg md:hover:transition-all scale-125 md:cursor-pointer"
        >
        Enviar
        <Loader clase='hidden'/>
        </button> -->
      </div>
      <input type="hidden" name="_next" value="https://renpi.netlify.app/pages/thanksPage.astro">
    </form>
</div>
<!-- <script>

      const form = document.querySelector('form') as HTMLFormElement;

      form.addEventListener('submit', (event: Event) => {
        event.preventDefault();
        const btn = document.querySelector('#spinner') as HTMLInputElement;
        btn.classList.add('animate-spin')
        btn.classList.remove('hidden')
        form.reset();
        // const data: FormData = new FormData(form);
        // const data = 
      //   const nombre = document.getElementById('nombre') as HTMLInputElement;
      // const email = document.getElementById('email') as HTMLInputElement;
      // const mensaje = document.getElementById('mensaje') as HTMLTextAreaElement;

      //   const data = {
      //   nombre: nombre.value,
      //   email: email.value,
      //   mensaje: mensaje.value,
      // };

      // 

        // // Envío de datos a FormSubmit
        // fetch('https://formsubmit.co/contacto.renpi@gmail.com', {
        // // fetch('https://formsubmit.co/api/get-apikey/contacto.renpi@gmail.com', {
        //   method: 'POST',
        //   body: data,
        //   headers: {
        //     'Content-Type': 'application/json'
        //   }

        // })
        //   .then((response) => {
        //     if (response.ok) {
        //       alert('Mensaje enviado correctamente');
        //       // console.log(data);
        //       btn.classList.remove('animate-spin')
        //       btn.classList.add('hidden')
        //       form.reset();
        //     } else {
        //       btn.classList.remove('animate-spin')
        //       alert('Error al enviar el mensaje');
        //     }
        //   })
        //   .catch((error) => {
        //     console.error(error);
        //     alert('Error al enviar el mensaje');
        //   });
      });

      
</script> -->

    
