---

interface Props {
    title: string;
    text: string;
    nombre: string;
    email: string;
    content: string;
}
const {title, text, nombre, email, content} = Astro.props
---
<div class="mx-auto flex flex-col justify-center text-center bg-white py-12">
    <h2 class="text-3xl md:text-4xl font-bold mb-4 text-center js-scroll fade-in">{title}</h2>
    <h3 class="mx-auto text-lg md:text-xl mb-8 js-scroll text-center fade-in-bottom w-11/12">{text}</h3>
    <!-- Formulario de contacto -->
    <form target="_blank" method="POST" name="formulario"class="p-4 w-11/12 max-w-md mx-auto js-scroll   fade-in-bottom ">
      <!-- Nombre -->
      <div class="mb-4">
        <label class="block font-semibold mb-2 text-start" for="nombre">{nombre}</label>
        <input
          class="w-full h-8 px-4 py-2 border rounded-md focus:outline-none bg-transparent focus:ring-2 focus:ring-blue-500 "
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Name"
          required
        >
      </div>
      <!-- Email -->
      <div class="mb-4">
        <label class="block font-semibold mb-2 text-start" for="email">{email}</label>
        <input
          class="w-full h-8 px-4 py-2 border bg-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="email"
          id="email"
          name="email"
          placeholder="Email Address"
          required
        >
        <input 
          type="hidden" 
          name="_subject" 
          value="¡Nuevo Correo!"
        >
        <input
          type="hidden"
          name="_autoresponse"
          value="Gracias por contactarte con nosotros, en breve uno de nuestros asesores se encargará de atender tu caso."
        > 
      </div>

      <!-- Mensaje -->
      <div class="mb-4">
        <label class="block font-semibold mb-2 text-start" for="mensaje">{content}</label>
        <textarea
          class="w-full h-32 px-4 py-2 bg-transparent border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          id="mensaje"
          name="mensaje"
          rows="4"
          required
        ></textarea>
      </div>

      <!-- Botón de enviar -->
      <div class="text-center">
        <input
          type="submit"
          value="Enviar"
          class="submit-btn bg-gradient-to-r from-sky-400 to-blue-500 text-white py-2 px-6 rounded-md font-medium hover:bg-blue-600 md:cursor-pointer"
        >
</div>

<script>
  import { correo } from '../../server/server';

  const form = document.querySelector('form')
  form.addEventListener('submit', async (event) => {
  event.preventDefault();
  correo
  
  


})

</script>