---
import Card from './Card.astro'
import WebDevCard from './WebDevCard.astro'
import Foto from './Foto.astro'
import Exclusive from './Exclusive.astro'
import Slider from '../Slider/Slider.astro'
import {content} from './generalContent'
import WebDev from './ServicesDescriptionCards/WebDev.astro'
import VideoDescription from './ServicesDescriptionCards/VideoDescription.astro'
import ExclusiveCard from './ServicesDescriptionCards/Exclusive.astro'
import VideoCard from './VideoCard.astro'
---
<!-- TODO, to change 'description cards' to video description -->

<article class="py-12 w-full grid place-items-center">
    <div class="grid place-items-center gap-8 sm:w-3/5 px-4 md:grid-cols-2 md:w-10/12">
        <!-- Pack card -->
        {
            content?.map((item) => (
                item.fotografia?
                    <Card title={item.fotografia.title}>
                        <Foto slot="list"/>
                    </Card>
                :null
            ))
        }
        <!-- Description card -->
        <div class="w-full">
            <h2 class="text-3xl md:text-4xl font-bold text-center mb-8 js-scroll fade-in">Fotografía</h2>
            <Slider>
            
        </div>
    </div>
</article>
<article class="py-12 w-full grid place-items-center bkg-gradient">
    <div class="grid video-section place-items-center gap-8 sm:w-3/5 flex-row-reverse px-4 md:grid-cols-2 md:w-10/12">
        <!-- Description card -->
        <VideoDescription/>
        <!-- Pack card -->
        {
            content?.map((item) => (
                item.video?
                    <Card title={item.video.title}>
                        <VideoCard slot="list"/>
                    </Card>
                :null
            ))
        }
    </div>
</article>
<article class="py-12 w-full grid place-items-center">
    <div class="grid place-items-center gap-8 sm:w-3/5 px-4 md:grid-cols-2 md:w-10/12">
        <!-- Pack card -->
        {
            content?.map((item) => (
                item.web?
                <Card title={item.web.title}>
                        <WebDevCard slot="list"/>
                    </Card>
                :null
            ))
        }
        <!-- Description card -->
        <WebDev/>
    </div>
</article>
<article class="py-12 w-full grid place-items-center bkg-gradient">
    <!-- flex-row-reverse -->
    <div class="grid exclusive-section  bg-transparent place-items-center gap-8 sm:w-3/5 px-4 md:grid-cols-2 md:w-10/12">
        <ExclusiveCard/>
        {
            content?.map((item) => (
                item.exclusive?
                <Card title={item.exclusive.title}>
                        <Exclusive slot="list"/>
                    </Card>
                :null
            ))
        }
    </div>
</article>
<!-- <article class="py-12 w-full grid place-items-center">
    <div class="grid place-items-center gap-8 sm:w-3/5 flex-row-reverse px-4 md:grid-cols-2 md:w-10/12">
        {
            content?.map((item) => (
                item.premium?
                    <Card title={item.premium.title}>
                        <Premium slot="list"/>
                    </Card>
                :null
            ))
        }
        <CommunityM/>
    </div>
</article> -->

<style>
    .bkg-section{
        background-color: rgb(44, 53, 69);
    }
    .video-section, .exclusive-section{
        /* background-color: rgb(44, 53, 69); */
        color: whitesmoke;
    }
</style>