---
import Layout from "../layout/Layout.astro";
import Preloader from "../components/Preloader/Preloader.astro";
import Nav from "../components/Header/Nav/Nav.astro";
import Video from "../components/Header/Video.astro";
import Us from "../components/UsSection/Us.astro";
import FullServices from "../components/PacksCards/FullServices.astro";
import Metodology from "../components/Metodology/Metodology.astro";
import Form from "../components/Form/Form.astro";
import Footer from "../components/Footer/Footer.astro"
import Chat from "../components/ChatBtn.astro"
import MediumCardsServices from "../components/PacksCards/MediumCardsServices.astro";
import ProyectsCard from "../components/Portfolio/Cards.astro";
import { proyectStructure } from "../components/Portfolio/content"

const proyects = proyectStructure
---
<Layout>
	<Preloader/>
	<header class="mt-[64px]">
		<Nav 
		nosotros="Nosotros"
		servicios="Servicios"
		portfolio="Portfolio"
		metodologia="Metodología"
		contacto="Contacto"
		nosotrosUrl="#nosotros"
		serviciosUrl="#servicios"
		portfolioUrl="#portfolio"
		metodologiaUrl="#metodologia"
		contactoUrl="#contacto"
		>
		</Nav>
		<Video/>
	</header>
	<>
		<Chat/>
		<Us id="nosotros"/>
		<section id="servicios" class="bg-white text-black pt-24 grid gap-24 place-items-center">
			<div class="plan-container w-full">
				<div class="grid place-items-center w-full mb-8">
					<h2 class="text-3xl md:text-4xl font-bold text-centerjs-scroll mb-2 fade-in">Nuestros Servicios</h2>
					<p class="text-balance w-11/12 md:text-xl font-medium text-center text-black  js-scroll fade-in opacity-60">
						Soluciones que te ayudaran a lograr tus objetivos en línea
					</p>
				</div>
				<div class="md:block lg:hidden">
					<MediumCardsServices/>
				</div>
				<div class="hidden lg:block">
					<FullServices/>
				</div>
			</div>
		</section>
		<section id="portfolio" class="portfolio py-24 grid gap-8 ">
			<div class="grid place-items-center w-full mb-8 text-white">
				<h2 class="text-3xl md:text-4xl font-bold text-centerjs-scroll mb-2 fade-in">Portafolio</h2>
				<p class="text-balance w-11/12 md:text-xl font-medium text-center js-scroll fade-in opacity-60">
					Mira los trabajos que hemos realizado
				</p>
			</div>
			<!--poner de nuevo cuando hayan mas de 3 proyectos lg:grid-rows-2 -->
			<div class="grid m-auto w-full sm:w-auto gap-8 place-items-center md:grid-cols-2 lg:grid-cols-3  lg:gap-y-20">
			{
				proyects?.map(
					({buttons, title, content, imgAlt, bkgImage, iconImage}) => (
						<ProyectsCard
							url={buttons.demoURl}
							imgUrl={bkgImage}
							title={title}
							p={content}
							altImg={imgAlt}
							iconUrl={iconImage}
						/>
					)
				)
			}
			</div>
		</section>
		<section id="metodologia" class="services-section bg-gradient-to-l from-gray-700 via-gray-900 to-black text-white py-16">
			<Metodology
			sectionTitle="Descubre cómo trabajamos"
			paragraph="Diseño digital a la medida de tus necesidades"
			/>
		</section>
		<section id="contacto" class="pt-12">
			<Form
			title="¡Contacta con nosotros!"
			text="Estamos listos para ayudarte a lograr tus objetivos digitales."
			/>
		</section>
		<footer class="md:pt-16">
			<Footer/>
		</footer>
	</main>
</Layout>