---
import Article from '../ServicesCards/Card.astro';
import {content} from './content'

interface Props{
    sectionTitle: string;
    paragraph: string;
}
const {sectionTitle, paragraph} = Astro.props
function impar(idx){
    const impar = idx % 2 !== 0
    
    return impar
}
const impares = impar

---
<div class="services-ctr mx-auto gap-8 grid relative">
    <div class="grid place-items-center w-full">    
        <h2 class="text-3xl md:text-4xl font-bold text-center mb-4 js-scroll fade-in">{sectionTitle}</h2>
        <p class="text-base md:text-xl font-medium text-center mb-8 js-scroll fade-in opacity-90">{paragraph}</p>
    </div>
    <div class="grid gap-y-32">
        
        {
            content?.map((item, idx) => (
            
            <Article
                title={item.title}
                paragraph={item.content}
                url={item.url}
                impar={impares(idx)}
                first={idx === 0?true:false}
            />
            ))
        }
    </div>
</div>
<style>
    @media(min-width: 1020px){
        .services-ctr{
            width: 80%;
        }
    }
</style>
