---
import MenuMobile from "./MenuMobile.astro"
interface Props{
    nosotros:string;
    servicios:string;
    portfolio: string;
    metodologia:string;
    contacto:string;
    nosotrosUrl:string;
    serviciosUrl:string;
    portfolioUrl:string;
    metodologiaUrl:string;
    contactoUrl:string;
}
const {nosotros,servicios, portfolio, metodologia, contacto, nosotrosUrl, serviciosUrl, portfolioUrl, metodologiaUrl, contactoUrl} = Astro.props

---

<nav class="p-4 md:px-8 fixed top-0 z-40 w-full flex justify-between bg-gradient-to-l from-gray-700 via-gray-900 to-black text-white">
    <a href="#">
    	<img src="/assets/logotipo/logotipo-circle.svg" alt="logo" slot="logo" class="w-8 h-8">
    </a>

    <ul class="hidden menu-desktop md:w-auto md:flex md:justify-between md:items-center md:gap-8">
        <li>
            <a href={nosotrosUrl}>
                {nosotros}
            </a>
        </li>
        <li>
            <a href={serviciosUrl}>
                {servicios}
            </a>
        </li>
        <li>
            <a href={portfolioUrl}>
                {portfolio}
            </a>
        </li>
        <li>
            <a href={metodologiaUrl}>
                {metodologia}
            </a>
        </li>
        <li>
            <a href={contactoUrl}>
                {contacto}
            </a>
        </li>
    </ul>
    <button 
    id="menu-mobile-btn"
    class="menu-btn w-8 h-8 block bg-center bg-no-repeat bg-contain md:hidden lg:hidden transition-all" 
    ></button>
</nav>
<MenuMobile
nosotros="Nosotros"
planes="Servicios"
portfolio="Portafolio"
servicios="Metodología"
contacto="Contacto"
/>
<script>
    import {menuEvent} from "./menuMobile"

    const body = document.querySelector('body')
    body.addEventListener('click', menuEvent, false)
</script>
<style>
    .menu-btn{
        background-image: url('/assets/menu-rollup.svg');
        /* background-image: url('../../../../public/assets/menu-rollup.svg'); */
    }
    .menu-btn--down{
        background-image: url('/assets/menu-dropdown.svg');
        /* background-image: url('../../../../public/assets/menu-dropdown.svg'); */
    }
    .menu-desktop a:hover{
        background-image: linear-gradient(to right, rgb(145, 200, 0), rgb(150, 250, 0));
        background-clip:text;
        color: transparent;
        transition-property: color;
        transition: ease-in 200ms;
    }
</style>

