---
interface Props{
    nosotros:string;
    planes:string;
    servicios:string;
    contacto:string;
}
const {nosotros,planes, servicios, contacto} = Astro.props

// const menuEvent = (e) => {
//     const menuM = document.querySelector('.menu-mobile')
    
//     console.log(e.target.tagName)

//     e.target.classList.contains('menu-m-btn')
//     ?(
//         menuM.classList.toggle('hidde'),
//         e.target.classList.toggle('menu-m-icon-rollup'),
//         e.target.classList.toggle('menu-m-icon-dropdown')
//     ): e.target.tagName === 'A'
//     ?(
//         menuM.classList.toggle('hidde')
//     ): console.log('no funciona la lista' + e.target.tagName)

//     e.stopPropagation()
// }
---

<nav class="p-4 sticky top-0 z-10 w-full flex justify-between bg-gradient-to-l from-gray-700 via-gray-900 to-black text-white">
    <a href="#">
        <!-- <slot name="logo" class="w-8 h-8"/> -->
    	<img src="../../../../public/assets/logotipo/logotipo-circle.svg" alt="logo" slot="logo" class="w-8 h-8">

    </a>

    <ul class="hidden menu-desktop md:w-auto md:flex md:justify-between md:items-center md:gap-8">
        <a href="#nosotros" >
            <li>{nosotros}</li>
        </a>
        <a href="#planes" >
            <li>{planes}</li>
        </a>
        <a href="#servicios" >
            <li>{servicios}</li>
        </a>
        <a href="#contacto" >
            <li>{contacto}</li>
        </a>
    </ul>
    <!--TODO, checkear que funcione onclick=`${menuEvent(e)}` -->
    <button class="menu-btn w-8 h-8 block bg-center bg-no-repeat bg-contain md:hidden lg:hidden" ></button>
</nav>
<style>
    /* TODO, checkear las rutas al momento de compilar */
    .menu-btn{
        background-image: url('../../../../public/assets/menu-rollup.svg');
    }
    .menu-btn--down{
        background-image: url('../../../../public/assets/menu-dropdown.svg');
    }
    .menu-desktop li{
        transition: ease-out 1s;
    }
    .menu-desktop li:hover{
        /* opacity: 0.9; */
        background-image: linear-gradient(to right, rgb(56, 189, 248), rgb(59, 130, 246));
        /* linear-gradient(to right, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248)); */
        background-clip:text;
        color: transparent;
        transition: ease-in 200ms;
    }
</style>

